<mat-toolbar color="primary" class="header-toolbar expanded-toolbar">
  <span>
    <button mat-button>{{title}}</button>
    <button mat-button matTooltip="Home" matTooltipClass="tim_tooltip"><mat-icon>home</mat-icon></button>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span>

    <button mat-button matTooltip="My Profile" matTooltipClass="tim_tooltip"><mat-icon>person</mat-icon></button>
    <button mat-button matTooltip="My Projects" matTooltipClass="tim_tooltip"><mat-icon>movie</mat-icon></button>
    <button mat-button matTooltip="My Documents" matTooltipClass="tim_tooltip"><mat-icon>library_books</mat-icon></button>
    <button mat-button matTooltip="Company Account" matTooltipClass="tim_tooltip"><mat-icon>business</mat-icon></button>
    <button mat-button matTooltip="Need Help?" matTooltipClass="tim_tooltip"><mat-icon>help</mat-icon></button>
    <button mat-button matTooltip="Settings" matTooltipClass="tim_tooltip"><mat-icon>settings</mat-icon></button>

  </span>

</mat-toolbar>
