<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button>{{title}}</button>
    <button mat-button matTooltip="Home"><mat-icon>home</mat-icon></button>
  </span>
  <span class="example-fill-remaining-space"></span>
  <span>

    <button mat-button matTooltip="My Profile"><mat-icon>person</mat-icon></button>
    <button mat-button matTooltip="My Projects"><mat-icon>movie</mat-icon></button>
    <button mat-button matTooltip="My Documents"><mat-icon>library_books</mat-icon></button>
    <button mat-button matTooltip="Company Account"><mat-icon>business</mat-icon></button>
    <button mat-button matTooltip="Need Help?"><mat-icon>help</mat-icon></button>
    <button mat-button matTooltip="Settings"><mat-icon>settings</mat-icon></button>

  </span>

</mat-toolbar>
